<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PersonalPlanDao">
    <resultMap id="PersonalPlan" type="com.entity.PersonalPlan">
        <id column="id" property="id" />
        <result column="goal" property="goal" />
        <result column="finished_time" property="finished_time" />
        <result column="remark" property="remark" />
        <result column="state" property="state" />
        <result column="stu_id" property="stu_id" />
    </resultMap>
    <sql id="Base_Column_List">
        id,
        goal,
        finished_time,
        remark,
        state,
        stu_id
    </sql>
    <sql id="table_name">
        t_stu_personal_plan
    </sql>

    <insert id="insert" parameterType="com.entity.PersonalPlan" useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO <include refid="table_name" /> (<include refid="Base_Column_List"/>)
        VALUES (#{id},#{goal},#{finished_time},#{remark},#{state},#{stu_id})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="com.entity.PersonalPlan">
        UPDATE <include refid="table_name" />
        <set>
            <if test="goal != null">
                goal = #{goal},
            </if>
            <if test="finished_time != null">
                finished_time = #{finished_time},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete" parameterType="int">
        UPDATE <include refid="table_name" /> SELECT state=1 WHERE id = #{id}
    </update>

    <select id="queryAllPersonalPlan" parameterType="int" resultMap="PersonalPlan">
        SELECT * FROM <include refid="table_name" /> WHERE stu_id = #{stu_id}
    </select>
</mapper>