<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StudentDao">
    <resultMap id="Student" type="com.entity.Student">
        <id column="id" property="id"/>
        <result column="studentnum" property="studentnum"/>
        <result column="studentname" property="studentName"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="politicalstatus" property="politicalstatus"/>
        <result column="educationallevel" property="educationallevel"/>
        <result column="idnumber" property="idnumber"/>
        <result column="phone" property="phone"/>
        <result column="homeaddress" property="homeaddress"/>
        <result column="qqnumber" property="qqnumber"/>
        <result column="wechatnumber" property="wechatnumber"/>
        <result column="issmoke" property="issmoke"/>
        <result column="smokeage" property="smokeage"/>
        <result column="whysmoke" property="whysmoke"/>
        <result column="islove" property="islove"/>
        <result column="whylove" property="whylove"/>
        <result column="loverinformation" property="loverinformation"/>
        <result column="isviolence" property="isviolence"/>
        <result column="whyviolence" property="whyviolence"/>
        <result column="medicalhistory" property="medicalhistory"/>
        <result column="lifeexpenses" property="lifeexpenses"/>
        <result column="homeincome" property="homeincome"/>
        <result column="hobby" property="hobby"/>
        <result column="performance" property="performance"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state" />
    </resultMap>

    <insert id="insert" parameterType="com.entity.Student" useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
      INSERT INTO t_student (id,studentnum,studentname,sex,birthday,politicalstatus,educationallevel,idnumber,phone,
      homeaddress,qqnumber,wechatnumber,issmoke,smokeage,whysmoke,islove,whylove,loverinformation,isviolence,whyviolence,
      medicalhistory,lifeexpenses,homeincome,hobby,performance,remark,state)
      VALUES
      (#{id},#{studentnum},#{studentName},#{sex},#{birthday},#{politicalstatus},#{educationallevel},#{idnumber},#{phone},
      #{homeaddress},#{qqnumber},#{wechatnumber},#{issmoke},#{smokeage},#{whysmoke},#{islove},#{whylove},#{loverinformation},
      #{isviolence},#{whyviolence},#{medicalhistory},#{lifeexpenses},#{homeincome},#{hobby},#{performance},#{remark},#{state})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="com.entity.Student">
      UPDATE t_student SET studentnum=#{studentnum},studentname=#{studentName},sex=#{sex},birthday=#{birthday},
      politicalstatus=#{politicalstatus},educationallevel=#{educationallevel},idnumber=#{idnumber},phone=#{phone},
      homeaddress=#{homeaddress},qqnumber=#{qqnumber},wechatnumber=#{wechatnumber},issmoke=#{issmoke},smokeage=#{smokeage},
      whysmoke=#{whysmoke},islove=#{islove},whylove=#{whylove},loverinformation=#{loverinformation},isviolence=#{isviolence},
      whyviolence=#{whyviolence},medicalhistory=#{medicalhistory},lifeexpenses=#{lifeexpenses},#{homeincome},
      hobby=#{hobby},performance=#{performance},remark=#{remark},state=#{state}
      WHERE id=#{id}
    </update>

    <select id="selectByName" parameterType="String" resultMap="Student">
        SELECT * FROM t_student WHERE studentname = #{stuName}
    </select>

    <select id="selectByClassId" parameterType="int" resultMap="Student">
      SELECT t_student.* from t_student left JOIN t_stu_class
      on t_student.id = t_stu_class.student_id
      WHERE t_stu_class.class_id=#{classsId}
    </select>
</mapper>